<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink="/" class="logo">
      <img class="logo" src="./assets/img/logo.svg" alt="logo"></a>
  </span>
  <span class="title-group">
    <a>
      <i class="material-icons">
        home
      </i>
      CrudAngular
    </a>
  </span>
</mat-toolbar>
