.header {
  display: flex;
  align-items: center;
}
.header a {
  display: flex;
  align-items: center;
  color: deeppink;
  text-decoration: none;
}
.header .logo {
  color: deeppink;
  width: 32px;
  fill: white;
  max-height: 32px;
  padding: 2px;
  border-radius: 2px;
  background-color: deeppink;
}
.header .title-group {
  padding-left: 25px;
}
.header .title-group i {
  padding-right: 5px;
}
