<mat-card>
  <mat-card-title>
    Novo produto
  </mat-card-title>
  <form class="form">
    <mat-form-field>
      <input matInput placeholder="Nome" (keyup)="showEvent()" name="name" [(ngModel)]="product.name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" name="price" [(ngModel)]="product.price">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" class="btn btn-pink">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()" class="btn btn-yellow">
    Cancelar
  </button>

</mat-card>
