/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.addPink {
  color: deeppink;
}
.btn-pink {
  background-color: #ff1493;
}
.v-middle {
  vertical-align: middle;
}
.btn-yellow {
  background-color: #fff;
  color: #000;
}
